.skills-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
  }
  
  .chart-container {
    width: 50%;
    height: 50%;
  }
  